body {
        font-family: 'Slabo 27px', serif;
        background-color: #D3D3D3;
}

/*https://www.w3schools.com/css/css_navbar.asp was a guide for nav bar style*/
/*Nav Bar*/
.nav-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #143642;

}
#settings_panel {
  margin: 30px;
}
#save-button {
  margin-top: 10px;
}
#offButton {
  display:none;
  margin-top: 10px;
}

#settings_module {
  display: none;
}
#give_padding {
  margin-top: 5%;
}
#example-number-input {
  width: 20%;
}

.center {
  text-align: center;

}

.nav-bar li {
        float: left;

}

.nav-bar li a {
        color: white;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}


.menu-btn:hover {
        color: grey;
}


#autoState {

}

/*Card*/

.card {
        border: 2px solid black;
        border-radius: 2%;
        margin: 1em;
        width: 30%;
        overflow: hidden;
        display: inline-block;
        background-color: white;

}

.card-title {
        background-color: white;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;

}

.card-table {
        text-align: center;
        margin: auto;
        width: 80%;
}

.fa-i{
        font-size: 3em;
}

.card-btns {
        text-align: center;
        margin: auto;
        background-color: rgb(43, 129, 29);
        padding: 1em;
}

#open {
        background-color: rgb(232, 54, 15);
}

.card-btns button {
        padding: 1em;
        margin: 1em;
}

.new-card-content {
        margin: auto;
        text-align: center;
        font-size: 2em;
}


.new-card-link {
        color: black;
        text-decoration: none;
}
.new-card-link:hover {
        color: grey;
}

/*Forms*/

.form-container {
        margin: auto;
        width: 40%;
        text-align: center;
        padding: 3em;
}

.num-input {
        width: 30px;;
}
.yard-input {
        width: 40px;;
}

.pad {
  padding-top: 10px;
  padding-bottom:10px;
}


.no-dec-a {
        text-decoration: none;
        color: black;
        padding: .7em;
        margin: 1em;
        background-color: rgb(162, 159, 161);

}
.no-dec-a: hover {
        text-decoration: none;
        color: black;
        padding: 1em;
        margin: 1em;

}

#login-btn {
        /*margin-top: 2em;*/
}

#login-page {
/*display: none;*/
}
#create-page{
  display:none;

}

#main-page {
  display: none;
}

#request-page{
  display:none;

}
#reset-page{
  display:none;


}
#card {
  display: none;
}

#edit-page{
  display:none;

}
#logout {
  float: right;

}
